{% load static %}
<!--footer-->
    <div class="container-fluid blog-sb-widgets page-styling site-footer">
        <div class="row">
            <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
                <a>
                    <img src="{% static 'img/logo.png' %}" alt="">
                </a>
                <p>Proyecto Ecommerce con Django para Pefumes_shop</p>
                <button href="https://api.whatsapp.com/send/?phone=5623614014"  class="btn callback" >Soporte al cliente </button>
            </div>
        </div>
    </div>